<div class="container">
	<h3>Switches</h3>

	<a ng-href="/switch/create" class="pull-right"><span class="glyphicon glyphicon-plus"></span></a>
	<table class="table table-striped" ng-show="switch.switches">
		<thead>
			<tr>
				<th>Name</th>
				<th>RangeTop</th>
				<th>RangeBottom</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="switch in switch.switches">
				<td>{{ switch.name }}</td>
				<td>{{ switch.rangetop }}</td>
				<td>{{ switch.rangebottom }}</td>
				<td><a ng-href="/switch/{{ switch._id }}">Edit</a></td>
			</tr>
		</tbody>
	</table>
</div>