<div class="container">
	<h3>My profile</h3>
	<div class="container well">
		<form>

			<div class="form-group col-md-6">
				<label>Navn</label>
				<input type="text" name="name", id="name" class="form-control" ng-model="participant.participantData.name">
			</div>

			<div class="form-group col-md-6">
				<label>Email</label>
				<input type="text" name="email", id="email" class="form-control" ng-model="participant.participantData.email">
			</div>


			<div class="form-group col-md-6">
				<label>Password</label>
				<input type="text" name="password", id="password" class="form-control">
			</div>


			<div class="form-group col-md-6">
				<label>PSU (watt)</label>
				<input type="text" name="psu", id="psu" class="form-control" ng-model="participant.participantData.psu">
			</div>

			<div class="form-group col-md-6">
				<label>CPU (TDP)</label>
				<input type="text" name="cpu", id="cpu" class="form-control" ng-model="participant.participantData.cpu">
			</div>

			<div class="form-group col-md-6">
				<label>GPU (TDP)</label>
				<input type="text" name="gpu", id="gpu" class="form-control" ng-model="participant.participantData.gpu">
			</div>


			<button type="submit" class="btn btn-default">Gem</button>
		</form>
	</div>
</div>